.avis-section {
    margin-top: 2%;
    background: linear-gradient(to bottom, red, #900C3F); /* Gradient background */
    color: white;
    padding: 40px 0;
}

.avis-rating {
    font-size: 24px;
    margin-bottom: 20px;
}

.rating-number {
    font-weight: bold;
    font-size: 2.5rem;
}

.stars {
    margin: 0 10px;
    color: gold;
}

.avis-count {
    font-size: 1.2rem;
}

.avis-section h2 {
    color: white;
    font-weight: bold;
    margin-bottom: 10px;
}

.avis-section p {
    margin-bottom: 20px;
}

.avis-section button {
    background-color: #fff;
    color: #900C3F;
    border: none;
    padding: 10px 15px; /* Padding vertical de 10px et horizontal de 15px */
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 20px; /* Bords arrondis */
    display: inline-block; /* Bloc en ligne */
    text-align: center; /* Texte centré */
    line-height: 50%; /* Hauteur de ligne ajustée pour le centrage vertical */
    width: 220px; /* Largeur fixe */
}

.avis-section button:hover {
    background-color: #ffc9ce; /* Couleur au survol modifiée */
}
