#carouselCards .card,
#carouselPartners .card {
    margin: 10px; /* Ajoute une petite marge autour de la carte */
    display: flex;
    flex-direction: column; /* Organise le contenu de la carte en colonne */
    height: 100%; /* Assure que toutes les cartes ont la même hauteur */
}

#carouselCards .card-body,
#carouselPartners .card-body {
    margin-top: auto; /* Pousse le contenu du corps vers le bas */
    padding: 0.5rem; /* Ajustez le padding selon vos besoins */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#carouselCards .card-img-top,
#carouselPartners .card-img-top {
    max-height: 120px; /* Ajustez la hauteur de l'image si nécessaire */
    width: 100%; /* Assure que l'image couvre la largeur de la carte */
    object-fit: cover; /* Couvre l'espace disponible sans déformer l'image */
}

#carouselCards .card.mx-auto,
#carouselPartners .card.mx-auto {
    max-width: 100%;
    width: 15rem; /* Uniformiser la largeur de toutes les cartes */
    height: 14rem;
}

#carouselCards .card-img-top,
#carouselPartners .card-img-top {
    height: 120px; /* Réduire la hauteur fixe des images si nécessaire */
    object-fit: cover; /* Couvre l'espace disponible sans déformer l'image */
    width: 70%; /* Assure que l'image couvre la largeur de la carte */
}

#carouselCards .carousel-item .col-md-6.col-lg-4,
#carouselPartners .carousel-item .col-md-6.col-lg-4 {
    padding-right: 5px; /* Réduit l'espace à droite de la carte */
    padding-left: 5px; /* Réduit l'espace à gauche de la carte */
}

#carouselCards .carousel-control-prev-icon,
#carouselPartners .carousel-control-prev-icon,
#carouselCards .carousel-control-next-icon,
#carouselPartners .carousel-control-next-icon {
    background-color: rgba(0,0,0,0.5); /* Ajoute un fond sombre pour les icones */
}

#carouselCards .carousel-control-prev,
#carouselPartners .carousel-control-prev,
#carouselCards .carousel-control-next,
#carouselPartners .carousel-control-next {
    width: 5%; /* Rend les zones cliquables plus larges */
}
