:root {
    /* Couleurs */
    --primary-color: #900C3F;  /* Couleur principale modifiée pour un rouge plus foncé */
    --background-color: #fff;  /* Couleur de fond pour les sections */
    --text-color: #333;        /* Couleur de texte principale */
    --footer-background-color: #ddd; /* Couleur de fond du pied de page */

    /* Polices */
    --heading-font: 'Roboto Serif', serif;
    --body-font: 'Lato', sans-serif;
}

body, html {
    margin: 0;
    padding: 0;
    font-family: var(--body-font);
}

.action-button {
    background-color: var(--primary-color);
    color: var(--background-color);
    padding: 10px 20px;
    border: none;
    border-radius: 0.5rem;
    transition: background-color 0.3s;
}

.action-button:hover {
    background-color: darken(var(--primary-color), 10%);
}

.form-section {
    padding: 20px;
    background-color: var(--background-color);
    border-radius: .5rem;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    margin-bottom: 20px; /* Espacement entre les sections */
}

.contact-header {
    font-family: var(--heading-font);
    font-weight: bold;
    color: var(--primary-color);
}

.container-decaled {
    margin-top: 15vh; /* Ajoute une marge supérieure de 15% de la hauteur de la fenêtre */
}

input.form-control, textarea.form-control {
    border: 1px solid #ccc; /* Couleur de bordure initiale */ !important;
}

input.form-control:focus, textarea.form-control:focus {
    border-color: #900C3F; /* Rouge foncé */
    outline: none;
    box-shadow: 0 0 0 2px #900C3F;
}

body {
    background: url('../img/gallery/Design.png') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    height: 100vh;
    width: 99.2vw;
    overflow: auto;
}

/* Filtre sombre */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 0;
}

/* Assurer que le contenu est visible au-dessus du filtre */
.container, footer {
    position: relative;
    z-index: 1;
}



/* Styles pour le footer */
footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #ddd;
    padding: 20px;
    margin-top: 50px
}

.footer-left img {
    height: 100px;
    max-width: 100%;
    margin-top: -20px;
}

.footer-right div {
    flex: 1;
    text-align: center;
    margin-bottom: 200px;
}

.footer-right > div {
    text-align: center;
    margin-bottom: 10px;
}

.footer-right div h3 {
    margin-bottom: 10px;
}

.footer-right div p {
    margin: 5px 0;
}


.footer-right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.footer-right h4 {
    display: inline-block;
    white-space: nowrap;
    margin: 0;
    padding: 0 10px;
}

.footer-right h3 {
    margin-bottom: 5px;
}

.footer-right p {
    margin: 3px 0;
}

iframe {
    width: 400px;
    height: 300px;
    margin-bottom: 20px;
    margin-right: 30px;
}

.footer {
    position: absolute;
    bottom: 0;
}

div strong {
    font-weight: bold; /* Rendre le texte en gras */
}

.footer-left,
.footer-right {
    margin-top: 50px;
}

:root {
    /* Colors */
    --brand-color: hsl(46, 100%, 50%);
    --black: hsl(0, 0%, 0%);
    --white: hsl(0, 0%, 100%);
    /* Fonts */
    --font-title: "Montserrat", sans-serif;
    --font-text: "Lato", sans-serif;
}

:root {
    /* Colors */
    --brand-color: hsl(46, 100%, 50%);
    --black: hsl(0, 0%, 0%);
    --white: hsl(0, 0%, 100%);
    /* Fonts */
    --font-title: "Montserrat", sans-serif;
    --font-text: "Lato", sans-serif;
}