@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat:wght@700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import url(https://fonts.googleapis.com/css?family=Montserrat);

/* Styles pour la navbar */

.navbar-container {
    padding-top: 200px;
}

.navbar {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    background-color: transparent;
    box-shadow: none;
    height: 30px;
}


/* Styles pour le logo */
.navbar-logo img {
    height: 100px;
    max-width: 100%;
    margin-top: 20px;
}

.navbar-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
}

.navbar-links li {
    display: inline;
    margin-right: 40px;
}

.navbar-links li:last-child {
    margin-right: 0;
}

.navbar-links li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    transition: color 0.3s;
}

.navbar-links li a:hover {
    color: red;
}


.navbar-links li:hover .sub-menu {
    display: block;
}

.sub-menu li {
    display: block;
    text-align: left;
    width: 100%;
    padding: 5px;
}

.sub-menu a {
    display: block;
    padding: 10px 20px;
    color: #333;
    text-decoration: none;
}

.sub-menu a:hover {
    background-color: #f2f2f2;
}

.sub-menu {
    display: none;
    position: absolute;
    background-color: #fff;
    z-index: 1;
    width: 100%;
    left: 0;
    top: 100%;
}

.navbar-links li:hover .sub-menu {
    display: block;
}


/* Styles pour le footer */
footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #ddd;
    padding: 20px;
    margin-top: 50px
}

.footer-left img {
    height: 100px;
    max-width: 100%;
    margin-top: -20px;
}

.footer-right div {
    flex: 1;
    text-align: center;
    margin-bottom: 200px;
}

.footer-right > div {
    text-align: center;
    margin-bottom: 10px;
}

.footer-right div h3 {
    margin-bottom: 10px;
}

.footer-right div p {
    margin: 5px 0;
}


.footer-right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.footer-right h4 {
    display: inline-block;
    white-space: nowrap;
    margin: 0;
    padding: 0 10px;
}

.footer-right h3 {
    margin-bottom: 5px;
}

.footer-right p {
    margin: 3px 0;
}

iframe {
    width: 400px;
    height: 300px;
    margin-bottom: 20px;
    margin-right: 30px;
}

.footer {
    position: absolute;
    bottom: 0;
}

div strong {
    font-weight: bold; /* Rendre le texte en gras */
}

.footer-left,
.footer-right {
    margin-top: 50px;
}

:root {
    /* Colors */
    --brand-color: hsl(46, 100%, 50%);
    --black: hsl(0, 0%, 0%);
    --white: hsl(0, 0%, 100%);
    /* Fonts */
    --font-title: "Montserrat", sans-serif;
    --font-text: "Lato", sans-serif;
}

:root {
    /* Colors */
    --brand-color: hsl(46, 100%, 50%);
    --black: hsl(0, 0%, 0%);
    --white: hsl(0, 0%, 100%);
    /* Fonts */
    --font-title: "Montserrat", sans-serif;
    --font-text: "Lato", sans-serif;
}

/* Rubrique contacter nous */



/*form styles*/
#msform {
    width: 400px;
    margin: 50px auto;
    text-align: center;
    position: relative;
}
#msform fieldset {
    background: white;
    border: 0 none;
    border-radius: 3px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    padding: 20px 30px;
    box-sizing: border-box;
    width: 80%;
    margin: 0 10%;

    /*stacking fieldsets above each other*/
    position: relative;
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
    display: none;
}
/*inputs*/
#msform input, #msform textarea {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    font-family: montserrat;
    color: #2C3E50;
    font-size: 13px;
}
/*buttons*/
#msform .action-button {
    width: 100px;
    background: #27AE60;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 1px;
    cursor: pointer;
    padding: 10px;
    margin: 10px 5px;
    text-decoration: none;
    font-size: 14px;
}
#msform .action-button:hover, #msform .action-button:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}
/*headings*/
.fs-title {
    font-size: 19px;
    text-transform: uppercase;
    color: #2C3E50;
    margin-bottom: 10px;
}
.fs-subtitle {
    font-weight: normal;
    font-size: 17px;
    color: #666;
    margin-bottom: 20px;
}
/*progressbar*/
#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    /*CSS counters to number the steps*/
    counter-reset: step;
}
#progressbar li {
    list-style-type: none;
    color: white;
    text-transform: uppercase;
    font-size: 9px;
    width: 33.33%;
    float: left;
    position: relative;
}
#progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 20px;
    line-height: 20px;
    display: block;
    font-size: 10px;
    color: #333;
    background: white;
    border-radius: 3px;
    margin: 0 auto 5px auto;
}
/*progressbar connectors*/
#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: white;
    position: absolute;
    left: -50%;
    top: 9px;
    z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
    /*connector not needed before the first step*/
    content: none;
}
/*marking active/completed steps green*/
#progressbar li.active:before,  #progressbar li.active:after{
    background: #27AE60;
    color: white;
}


.contact-container {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}

.form-container {
    width: 95%; /* Réglage de la largeur des formulaires */
}

.msform {
    text-align: left;
}

.form-container {
    width: calc(50% - 10px) !important; /* Réglage de la largeur des formulaires avec un espace de 10px entre eux */
    margin-right: -5px !important; /* Espace entre les formulaires */
}



@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

.wrapper {
    max-width: 75%;
    margin: auto;
}

.wrapper > p,
.wrapper > h1 {
    margin: 1.5rem 0;
    text-align: center;
}

.wrapper > h1 {
    letter-spacing: 3px;
}

.accordion {
    background-color: white;
    color: rgba(0, 0, 0, 0.8);
    cursor: pointer;
    font-size: 1.8rem;
    width: 100%;
    padding: 2rem 2.5rem;
    border: none;
    outline: none;
    transition: 0.4s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}

.accordion i {
    font-size: 1.6rem;
}

.active,
.accordion:hover {
    background-color: #F76D6D;
}
.pannel {
    padding: 0 2rem 2.5rem 2rem;
    background-color: white;
    overflow: hidden;
    background-color: #F76D6D;
    display: none;
}
.pannel p {
    color: rgba(0, 0, 0, 0.7);
    font-size: 1.8rem;
    line-height: 1.4;
}

.faq {
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin: 10px 0;
}
.faq.active {
    border: none;
}
