/*--------------------------
	2. Feature Area
--------------------------*/
.feature-wrapper {}
.feature-left{}
.feature-right{}
/* Feature Image */
.feature-image {
  z-index: 9;
}
/* Single Feature */
.single-feature {
  position: relative;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  z-index: 1;
}
.single-feature:nth-child(1) {
  padding: 16px 0 15px;
}
.single-feature:nth-child(2) {
  padding: 38px 0;
}
.single-feature:nth-child(3) {
  padding: 16px 0 15px;
}
/* Single Feature Hover */
.single-feature:hover {
  background-color: #fff;
}
.single-feature::before {
  background-color: #fff;
  bottom: 0;
  content: "";
  opacity: 0;
  position: absolute;
  top: 0;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 50%;
  z-index: -1;
}
.single-feature:hover::before {
  opacity: 1;
}
.feature-left .single-feature::before {
  left: 100%;
}
.feature-right .single-feature::before {
  Right: 100%;
}
/* Left Single Feature */
.feature-left .single-feature {
  margin-right: -7px;
}
.feature-left .single-feature:nth-child(2) {
  margin-left: -15px;
  padding-right: 24px;
}
/* Right Single Feature */
.feature-right .single-feature {
  margin-left: -7px;
}
.feature-right .single-feature:nth-child(2) {
  margin-right: -15px;
  padding-left: 24px;
}
/* Featue Icon */
.single-feature .icon {
  display: block;
  margin-top: 19px;
  min-width: 36px;
}
.feature-left .icon {
  float: right;
  margin-left: 29px;
  text-align: left;
}
.feature-right .icon {
  float: left;
  margin-right: 29px;
  text-align: right;
}

.single-feature .icon i {
  color: #09008d;
  font-size: 36px;
  display: block;
}
/* Feature Text */
.single-feature .text{}
.single-feature .text h4 {
  margin-bottom: 9px;
}
.single-feature .text p{}

/*--------------------------
	4. Video Area
--------------------------*/
.video-area {
  background: rgba(0, 0, 0, 0) url("img/section-bg/video.jpg") repeat scroll 0 0;
  -webkit-background-size: cover;
  background-size: cover;
  padding: 195px 0;
}
.video-content {}
.video-content a {
  color: #ffffff;
  display: inline-block;
}
.video-content a:hover {
  color: #09008d;
}
.video-content a i {
  display: block;
  font-size: 60px;
}
.video-content h3 {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  line-height: 18px;
  margin: 30px 0 0;
  text-transform: uppercase;
}

.red-btn {
  background-color: black !important;
  color: white !important;
  transition: background-color 0.3s ease;

  /* Ajoutez d'autres styles au besoin */
}

.red-btn:hover {
  background-color: red !important;
}

.single-feature .icon i {
  color: red !important; /* Couleur rouge pour les icônes */
}


/*--------------------------
	Bande haut de page
--------------------------*/


/* Styles globaux pour la bande */
.band {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 400px; /* Hauteur ajustable */
  color: #333; /* Couleur du texte plus douce pour les yeux */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Police moderne et lisible */
  overflow: hidden; /* Empêche le débordement du contenu */
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Ombre subtile pour le relief */
  padding-bottom: 2%;
  background-image: url("img/bg-grey.jpg");
  background-size: cover; /* Assure que l'image de fond couvre tout l'espace disponible */
  background-position: center; /* Centre l'image de fond */
  background-repeat: no-repeat;
}

/* Containers pour les images */
.image-container {
  flex-basis: 35%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.right {
  background-image: url('img/voiture_panneau.png'); /* Ajustez avec l'URL de votre image gauche */
}

.left {
  background-image: url('img/voiture_panneau_inversed.png'); /* Ajustez avec l'URL de votre image droite */
}

/* Container pour le texte */
.text-container {
  flex-grow: 1;
  text-align: center;
  padding: 0 2%;
  background: rgba(255, 255, 255, 0.5); /* Fond semi-transparent pour améliorer la lisibilité */
  margin: 0 1%; /* Marges pour éviter que le texte touche les images */
  border-radius: 8px; /* Bordures arrondies */
}

/* Titre dans le texte */
.text-container h1 {
  margin-bottom: 0.5em; /* Espacement sous le titre */
  color: #1a1a1a; /* Couleur de texte */
  font-size: 2em; /* Taille de police plus grande */
  font-weight: bold; /* Gras pour attirer l'attention */
}

/* Paragraphe dans le texte */
.text-container p {
  margin-bottom: 1em; /* Espacement sous le paragraphe */
}

/* Bouton d'action */
.text-container button {
  padding: 10px 20px; /* Taille du padding pour rendre le bouton plus grand */
  font-size: 1em; /* Taille de police du bouton */
  color: white; /* Couleur du texte du bouton */
  background-color: #000; /* Couleur d'arrière-plan du bouton */
  border: none; /* Pas de bordure */
  border-radius: 5px; /* Bordures arrondies pour le bouton */
  cursor: pointer; /* Curseur en forme de main pour l'interactivité */
  transition: background-color 0.3s; /* Transition pour l'effet au survol */
  margin: 2%;
}

/* Effet au survol du bouton */
.text-container button:hover {
  background-color: #b30000; /* Assombrir le bouton lors du survol */
}


/*--------------------------
	Bande Card Tarif
--------------------------*/

/* Styles pour la bande additionnelle */
.additional-band {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titleTarifs{
  margin-top: 80px;
}

.soustitretarif{
  margin-bottom: 50px;
}

.additional-band .section-title.no-underline {
  text-decoration: none;
}

.additional-band h2.section-title {
  text-decoration: none;
  margin-top: 20px;
  margin-bottom: 20px;
}

.title-wrapper h2 {
  text-decoration: none !important; /* Supprimer le soulignement du titre */
}

.title-wrapper {
  text-align: center;
  width: 100%;
}

.forfait-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 35px;
}

.forfait-card {
  background: #ffffff;
  border: 1px solid #ddd;
  padding: 20px;
  text-align: center;
  border-radius: 8px;
  width: 30%; /* Ajustez la largeur des cartes selon vos besoins */
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
  margin: 10px;
}

.card {
  background: #ffffff; /* Fond blanc pour les cartes */
  border: 1px solid #ddd; /* Bordure subtile pour les cartes */
  padding: 20px;
  text-align: center;
  border-radius: 8px; /* Bordures arrondies */
  width: 20%; /* Définir une largeur pour les cartes */
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1); /* Ombre douce pour un effet de profondeur */
  margin: 0 10px; /* Espacement entre les cartes */
}

.card h3 {
  color: #333; /* Couleur du texte pour le titre */
  font-size: 1.8em; /* Taille du texte pour le titre */
  margin-bottom: 10px; /* Espacement sous le titre */
}

.card p {
  color: #666; /* Couleur du texte pour la description/prix */
  margin-bottom: 20px; /* Espacement au-dessus du bouton */
}

.card button {
  background-color: #000; /* Couleur d'arrière-plan du bouton */
  color: #ffffff; /* Couleur du texte du bouton */
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.card button:hover {
  background-color: #b30000; /* Changement de couleur au survol */
}

/* Styles pour la navbar */
.navbar-container {
  padding-top: 200px; /* Ajoute un espace de 20 pixels entre la navbar et le haut de la page */
}

.navbar {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: transparent; /* Fond de la navbar transparent */
  box-shadow: none; /* Supprime l'ombre */
  height: 100px;
}


/* Styles pour le logo */
.navbar-logo img {
  height: 280px; /* Taille de ton logo */
  max-width: 100%; /* Pour s'adapter à la largeur de la navbar */
  /* Ajoute d'autres styles si nécessaire */
}

/* Styles pour les liens de la navbar */
.navbar-links {
  list-style-type: none; /* Supprime les puces de la liste */
  margin: 0;
  padding: 0;
  position: relative;
}

.navbar-links li {
  display: inline; /* Affiche les éléments de la liste en ligne */
  margin-right: 40px; /* Espacement entre les éléments */
}

.navbar-links li:last-child {
  margin-right: 0; /* Aucun espacement à droite pour le dernier élément */
}

/* Styles pour les liens de la navbar */
.navbar-links li a {
  text-decoration: none; /* Supprime la soulignement par défaut des liens */
  color: black; /* Couleur du texte des liens */
  font-weight: bold; /* Texte en gras */
  transition: color 0.3s; /* Transition douce lors du survol */
}



.navbar-links li a:hover {
  color: red; /* Changement de couleur lors du survol */
}

/* Styles pour les sous-rubriques */

/* Afficher les sous-rubriques au survol de la rubrique parente */
.navbar-links li:hover .sub-menu {
  display: block;
}

/* Styles pour les sous-rubriques */
.sub-menu li {
  display: block;
  text-align: left;
  width: 100%;
  padding: 5px;
}

.sub-menu a {
  display: block;
  padding: 10px 20px;
  color: #333; /* Couleur du texte */
  text-decoration: none;
}

.sub-menu a:hover {
  background-color: #f2f2f2; /* Couleur de fond au survol */
}

.sub-menu {
  display: none;
  position: absolute;
  background-color: #fff;
  z-index: 1;
  width: 100%; /* Largeur à 100% */
}

/* Afficher les sous-rubriques au survol de la rubrique parente */
.navbar-links li:hover .sub-menu {
  display: block;
}

.sub-menu {
  left: 0;
  top: 100%;
}
footer {
  display: flex;
  flex-direction: row; /* Assure que les éléments internes s'alignent horizontalement */
  justify-content: space-between;
  align-items: flex-start; /* Aligne les éléments internes en haut */
  background-color: #FFF;
  padding: 20px;
  margin-top: 50px
}

.footer-left img {
  height: 300px; /* Taille de ton logo */
  max-width: 100%;
  margin-top: -100px; /* Déplace le logo vers le haut */
  /* Ajoute d'autres styles si nécessaire */
}

.footer-right div {
  flex: 1; /* Prend autant d'espace que possible */
  text-align: center; /* Aligne le texte au centre */
  margin-bottom: 200px;
}

.footer-right > div {
  text-align: center;
  margin-bottom: 10px; /* Réduit la marge en bas de chaque rubrique */
}

.footer-right div h3 {
  margin-bottom: 10px; /* Ajoute un peu d'espace en dessous du titre */
}

.footer-right div p {
  margin: 5px 0; /* Ajoute un espace entre chaque ligne */
}


.footer-right {
  display: flex;
  justify-content: center; /* Centre les éléments horizontalement */
  align-items: center;
  flex: 1;
}

.footer-right h4 {
  display: inline-block;
  white-space: nowrap;
  margin: 0;
  padding: 0 10px;
}

.footer-right h3 {
  margin-bottom: 5px; /* Réduit la marge en bas du titre */
}

.footer-right p {
  margin: 3px 0; /* Réduit l'espace entre chaque ligne */
}

iframe {
  width: 400px;
  height: 300px;
  margin-bottom: 20px;
  margin-right: 30px;
}

.footer{
  position: absolute;
  bottom:0;
}

.footer-left {
  display: flex;
  align-items: center; /* Aligne le contenu verticalement */
}

.footer-left,
.footer-right {
  margin-top: 50px; /* Ajuste la marge en haut négative selon tes besoins */
}